.page {
    min-height: 100vh;
    background-color: #12171f;
    color: white;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .loading {
    min-height: 100vh;
    background-color: #12171f;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
  }
  
  .header {
    border-bottom: 1px solid #333;
    margin-bottom: 16px;
  
    h1 {
      font-family: 'Times New Roman', serif;
      font-size: 24px;
    }
  }
  
  .menuBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }
  
  .menuTitle {
    color: rgb(255, 255, 255);
    font-family: Shalimar;
    font-size: 32px;
    font-weight: 400;
    line-height: 39px;
  }
  
  .searchIcon {
    font-size: 24px;
  }
  
  .menuButtons {
    display: flex;
    overflow-x: auto;
    margin-bottom: 20px;
  }
  
  .menuButton {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 16px;
    margin-right: 10px;
    white-space: nowrap;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .menuItem {
    display: flex;
    border-bottom: 1px solid #333;
    padding-bottom: 16px;
    margin-bottom: 16px;
    cursor: pointer;
  }
  
  .imageWrapper {
    position: relative;
    width: 96px;
    height: 96px;
    margin-right: 16px;
  }
  
  .itemImage {
    object-fit: cover;
    border-radius: 8px;
  }
  
  .itemContent {
    h2 {
      font-size: 20px;
      margin: 0;
    }
  }
  
  .itemDescription {
    color: #ccc;
    font-size: 14px;
    margin: 4px 0;
    flex-wrap: wrap;
    white-space: wrap;
    width: 191px;
  }
  
  .itemPrice {
    color: red;
    font-weight: bold;
  }
  
  .detailContainer {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .detailHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }
  
  .closeButton {
    font-size: 32px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  .detailImageWrapper {
    position: relative;
    width: 100%;
    height: 256px;
    margin-bottom: 20px;
  }
  
  .detailImage {
    object-fit: cover;
    border-radius: 8px;
  }
  
  .detailTitle {
    font-size: 24px;
    font-weight: bold;
  }
  
  .detailDescription {
    color: #ccc;
    margin: 8px 0;
  }
  
  .detailPrice {
    color: #ff4242;
    font-size: 20px;
    font-weight: bold;
  }
  
  .backButton {
    background-color: #ff4242;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
  }
  
  .selectCard {
  &__extrasDrinks {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 25px;
  }

  &__section {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 12px;

    &__title {
      color: #ffffff;
      font-family: "League Spartan", sans-serif;
      font-size: 18px;
      font-weight: 600;
      margin: 0 0 8px 0;
    }
  }

  &__itemList {
    display: flex;
    justify-content: space-around;
    gap: 226px;

    &__item,
    &__priceList {
      display: flex;
      flex-direction: column;
      color: #939393;
      font-family: "League Spartan", sans-serif;
      font-size: 15px;
      font-weight: 500;
    }
  }
}