.bestSellers-content {
  display: flex;
  gap: 93px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  margin-bottom: 18px;
  margin-top: 100px;
  flex-shrink: 0;
}

.bestSellers {
  color: #fff;
  font-family: "Shalimar", sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
}

.bestSellers-title,
.bestSellers-txt {
  flex: 1;
  min-width: 300px;
}

.bestSellers-title {
  color: #fff;
  font-family: Silk Serif;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.3;
  max-width: 600px;
}

.bestSellers-txt {
  color: #fff;
  font-family: "League Spartan", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 22px;
  margin-bottom: 195px;
  max-width: 600px;
}

.slider-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 560px;
  margin: 0 auto;
}

.slider-window {
  display: flex;
  overflow: hidden;
}

.bestSellers-track {
  display: flex;
  gap: 28px;
}

.shevron-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  z-index: 2;
}

.shevron-button.left {
  left: -40px;
}

.shevron-button.right {
  right: -40px;
}

@media (max-width: 1068px) {
  .bestSellers-content {
    flex-direction: column;
    gap: 40px;
    align-items: center;
    margin-bottom: 50px;
  }

  .bestSellers-title {
    font-size: 2rem;
    max-width: 100%;
  }

  .bestSellers-txt {
    font-size: 0.9rem;
    margin-bottom: 40px;
    max-width: 100%;
  }

  .logo {
    margin-top: 40px;
    margin-bottom: 10px;
    gap: 12px;
  }

  .bestSellers-img {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .bestSellers-slider {
    max-width: 100%;
    margin: 0 a;
  }
}

@media (max-width: 1024px) {
  .shevron-button {
    display: none;
  }
}

@media (max-width: 1024px) {
  .logo {
    align-items: center;
    justify-content: center;
  }
  .bestSellers-content {
    align-items: center;
    flex-direction: column;
    gap: 30px;
  }
}
