.SixthPage {
  .content {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    .text {
      display: flex;
      flex-direction: column;
      align-items: left;
      gap: 30px;

      h1 {
        font-family: Silk Serif;
        font-weight: 600;
        font-size: 40px;
      }
      h2 {
        font-weight: 400;
        font-size: 26px;
        color: rgba(239, 39, 44, 1);
      }
      p {
        font-weight: 400;
        font-size: 22px;
        line-height: 24px;
        letter-spacing: 0%;
      }
      .uniqueText {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        span {
          font-family: Shalimar;
          font-weight: 400;
          font-size: 40px;
          line-height: 100%;
          letter-spacing: 0%;
        }
      }
      .button {
        position: relative;
        display: inline-block;
        padding: 10px 0;

        &::before,
        &::after {
          content: "";
          position: absolute;
          left: 50%;
          width: 30%;
          height: 2px;
          background-color: rgba(239, 39, 44, 1);
          transform: translateX(-50%);
        }

        &::before {
          top: 0;
          left: 40%;
        }

        &::after {
          bottom: 0;
          left: 15%;
        }

        button {
          padding: 0px 10px;
          border: 2 solid rgba(239, 39, 44, 1);
          width: 240px;
          height: 42px;
          background: transparent;
          color: white;
          font-family: "Spartan", sans-serif;
          font-weight: 400;
          font-size: 14px;
          cursor: pointer;
          position: relative;
          z-index: 1;
          text-transform: uppercase;
        }
      }
    }
    .image {
      display: flex;
      flex-direction: column;
      width: 651;
      height: 590;
      border-radius: 2px;
      opacity: 0.7;
      background: rgba(239, 39, 44, 1);
      padding: 44px;
      color: rgba(31, 39, 49, 1);
      gap: 24px;

      .info {
        display: flex;
        flex-direction: column;
        gap: 20px;
        h2 {
          font-family: Montserrat;
          font-weight: 500;
          font-size: 24px;
          text-transform: capitalize;
        }
        p {
          font-size: 22px;
          font-family: Montserrat;
          font-weight: 400;
          font-size: 22px;
        }

        .phoneNumber {
          display: flex;
          align-items: center;
          gap: 10px;
          img {
            width: 28;
            height: 28;
          }
        }
        .email {
          display: flex;
          align-items: center;
          gap: 10px;

          img {
            width: 34;
            height: 26;
          }
        }
        .socials {
          display: flex;
          flex-direction: row;
          gap: 50px;
          margin: 20px 0;
        }
      }
      .map {
        align-self: center;
      }
    }
  }
}

@media (max-width: 375px  ) {
  .SixthPage {
    max-width: 375px;
    .content {
      flex-direction: column;
      .image {
        background: none;
        .info {
          display: none;
        }
        .map {
          max-width: 333px;
          width: 100%;
        }
      }
    }
  }
}
