@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pixelify+Sans:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Shalimar&display=swap");

.aboutUsContent {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-around;
}

.logo {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  margin-bottom: 18px;
  margin-top: 100px;
  flex-shrink: 0;
}

.aboutUs {
  color: #fff;
  font-family: "Shalimar", sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
}

.aboutUsInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 30px;
  flex-wrap: wrap;
  margin-bottom: 66px;
}

.aboutUsTitle,
.aboutUsTxt {
  flex: 1;
  min-width: 300px;
}

.aboutUsTitle {
  color: #fff;
  font-family: Silk Serif;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.3;
  max-width: 600px;
}

.txtBlock {
  max-width: 539px;
}

.aboutUsTxt {
  color: #fff;
  font-family: "League Spartan", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  display: flex;
  flex-wrap: wrap;
}

.aboutUsImages {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.aboutUsImg {
  max-width: 558px;
  max-height: 303px;
}

@media (max-width: 1068px) {
  .aboutUsContent {
    gap: 40px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
  }

  .aboutUsInfo {
    gap: 40px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .aboutUsTitle,
  .aboutUsTxt {
    text-align: center;
    max-width: 100%;
  }

  .aboutUsImages {
    align-items: center;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    margin-bottom: 50px;
  }

  .aboutUsImg:first-child {
    margin-bottom: 20px;
  }

  .logo {
    margin-top: 50px;
    justify-content: center;
  }

  .aboutUsImg {
    width: 528px;
    height: 303px;
  }
}

@media (max-width: 1024px) {
  .aboutUsInfo {
    gap: 60px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .aboutUsTitle,
  .aboutUsTxt {
    max-width: 90%;
  }

  .logo {
    margin-top: 60px;
    justify-content: center;
  }

  .aboutUsImages {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
}
