.Footer {
  background: rgba(18, 18, 18, 1);
  text-align: center;
  padding-bottom: 30px;
  padding: 20px 58px;
  margin-top: 100px;

  .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid white;
    margin-bottom: 20px;
    #logo {
      font-family: "font";
      color: rgba(255, 255, 255, 1);
      font-size: 28px;
      font-weight: 500;
    }
    .links {
      display: flex;
      gap: 82px;
      .link {
        color: white;
        font-weight: 300;
        font-size: 16px;
        text-transform: capitalize;
      }
    }
    .socialMedias {
      display: flex;
      flex-direction: row;
      gap: 20px;
      .app {
        width: 24px;
        height: 24px;
      }
    }
  }
}

@media (max-width: 372px) {
  .Footer {
    max-width: 372px;
    width: 100%;
    .content {
      .links {
        display: none;
      }
    }
  }
}
