@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pixelify+Sans:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Shalimar&display=swap");

.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  align-items: flex-start;
  gap: 40px;
}

.about-us-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.logo {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  margin-bottom: 18px;
  margin-top: 100px;
  flex-shrink: 0;
}

.about-us {
  color: #fff;
  font-family: "Shalimar", sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
}

.about-us-info {
  display: flex;
  flex-direction: row;
  gap: 191px;
  flex-wrap: wrap;
  margin-bottom: 66px;
}

.about-us-title,
.about-us-txt {
  flex: 1;
  min-width: 300px;
}

.about-us-title {
  color: #fff;
  font-family: Silk Serif;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.3;
  max-width: 600px;
}

.about-us-txt {
  color: #fff;
  font-family: "League Spartan", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  max-width: 600px;
}

.about-us-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.about-us-img {
  width: 48%;
  height: auto;
}
